@import url("https://fonts.googleapis.com/css2?family=Kufam:wght@500;600&display=swap");
* { font-family: Kufam; padding: 0; margin: 0; text-decoration: none; list-style: none; box-sizing: border-box; color: white; }

p { font-size: 16px; width: 65%; margin: auto; max-width: 900px; text-align: start; line-height: 1.5; }

@media (max-width: 900px) { p { width: 90%; column-count: 1; } }

a { color: #d1a157; }

a:hover { color: white; cursor: pointer; }

body { font-family: Kufam; display: flex; flex-direction: column; }

section { padding: 0%; padding-top: 1%; margin-top: 80px; background-image: url(../images/bg.png); min-height: 80vh; background-color: #282626; width: 100%; min-width: 270px; background-size: 100%; text-align: center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; }

@media (max-width: 1260px) { section { margin-top: 65px; } }

@media (max-width: 600px) { section { margin-top: 65px; } }

text-center { text-align: center !important; }

.width-100 { width: 100%; }

.faqImage { width: 65%; }

@media (max-width: 600px) { .faqImage { width: 95%; } }

.stigmaButton { background-color: #d1a157; margin-top: 35px; font-size: 25px; color: #0E0E0E; padding: .6rem 2rem; border-radius: .3rem; text-shadow: none; }

.stigmaButton:hover { color: #0E0E0E; background-color: white; }

h1 { font-size: xx-large; }

@media (max-width: 900px) { h1 { font-size: x-large; } }

h2 { text-transform: uppercase; font-weight: bolder; }

.bgBlack { padding: 5%; padding-left: 10%; padding-right: 10%; background-color: #0E0E0E; }

.bgTransparent { padding: 5%; padding-left: 10%; padding-right: 10%; background-color: transparent; }

.collapsible { background-color: transparent; color: white; cursor: pointer; padding: 18px; border: none; text-align: left; outline: none; }

.active, .collapsible:hover { background-color: transparent; cursor: pointer; }

.contentX { padding: 0 18px; overflow: hidden; background-color: transparent; }

.aboutListDiv { width: 40%; display: inline-block; vertical-align: top; text-align: left; margin: 0 5px; }

@media (max-width: 740px) { .aboutListDiv { display: block; width: 100%; margin-top: 50px; } }

nav { background: #0E0E0E; height: 80px; width: 100%; min-width: 275px; position: fixed; left: 0; top: 0; z-index: 100000; }

nav ul { top: 80px; float: right; margin-right: 100px; font-weight: bold; }

@media (max-width: 1085px) { nav ul { top: 65px; position: fixed; display: flex; flex-direction: column; justify-content: center; width: 100%; height: 95vh; background-color: #0E0E0E; left: -100%; text-align: center; transition: all .5s; } }

@media (max-width: 600px) { nav ul { padding-bottom: 80px; } }

nav ul li { display: inline-block; line-height: 100px; margin: 0 10px; }

@media (max-width: 1085px) { nav ul li { display: inline-block; margin: 50px; line-height: 30px; } }

@media (max-width: 600px) { nav ul li { display: inline-block; margin: 30px; line-height: 20px; } }

nav ul li a { color: white; font-size: 16px; text-transform: uppercase; padding: 7px 13px; border-radius: 3px; }

nav ul li a:hover, nav ul li a.active, nav ul li a:link { color: #d1a157; transition: .5s; cursor: pointer; }

@media (max-width: 1085px) { nav ul li a:hover, nav ul li a.active, nav ul li a:link { background: none; } }

@media (max-width: 1260px) { nav ul li a { font-size: 16px; } }

@media (max-width: 600px) { nav ul li a { font-size: 28px; } }

@media (max-width: 1260px) { nav { height: 65px; } }

@media (max-width: 600px) { nav { height: 65px; } }

label { z-index: 9999999; display: inline-flex; width: 10%; margin-right: 0; }

@media (max-width: 600px) { label { width: 100px; } }

label.logo { z-index: 9999999; color: white; font-size: 35px; line-height: 100px; padding: 20px 100px; font-weight: bold; }

@media (max-width: 1260px) { label.logo { font-size: 30px; padding-left: 50px; } }

@media (max-width: 1085px) { label.logo { font-size: 20px; line-height: 65px; } }

@media (max-width: 600px) { label.logo { font-size: 20px; line-height: 65px; padding-left: 20px; } }

.checkbtn { font-size: 30px; color: white; float: right; line-height: 80px; margin-right: 40px; cursor: pointer; display: none; }

@media (max-width: 1085px) { .checkbtn { display: block; font-size: 30px; line-height: 90px; } }

@media (max-width: 600px) { .checkbtn { display: block; font-size: 40px; line-height: 80px; width: 20px; } }

#check { display: none; }

@media (max-width: 1085px) { #check:checked ~ ul { left: 0; } }

.logoImage { width: 100px; padding-top: 10%; }

@media (max-width: 600px) { .logoImage { padding-top: 0; width: 60px; } }

footer { padding-top: 2rem; padding-bottom: 2rem; background-color: #0E0E0E; font-weight: bold; color: #fff; display: flex; align-items: center; justify-content: space-between; }

@media (max-width: 900px) { footer { flex-direction: column; } }

footer .footer-row { margin-top: 1rem; width: 100%; display: flex; align-items: center; justify-content: center; font-weight: normal; }

@media (max-width: 900px) { footer .footer-row { flex-direction: column; margin-top: 2%; margin-bottom: 5%; } }

footer ul li { margin: 5px 10px; }

footer .container { width: 100%; display: flex; align-items: center; justify-content: center; }

footer .container .social { display: flex; align-items: center; justify-content: center; flex-direction: column; width: 100%; }

footer .container .social .link { margin-top: 25px; margin-bottom: 25px; }

footer .container .social .btn { color: #f8f9fa; border-radius: 0.5rem; border: 3px solid; border-color: #ffffff; display: inline-block; font-weight: 400; text-align: center; vertical-align: middle; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; background-color: transparent; margin-left: 5px; margin-right: 5px; font-size: 1rem; line-height: 1.5; padding: 5px 10px; transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; }

footer .container .social .btn:hover { background-color: #f8f9fa; color: #0E0E0E; border: 3px solid; border-color: #ffffff; cursor: pointer; }

.divider { margin-top: 25px; margin-bottom: 25px; }

.gallery { display: flex; flex-wrap: wrap; justify-content: start; text-align: start; }

@media (max-width: 700px) { .gallery { text-align: center; } }

.galleryImageContainer { width: 13%; min-width: 200px; flex: 1 0 12%; /* explanation below */ margin: 2% 1%; background: transparent; }

@media (max-width: 600px) { .galleryImageContainer { width: 80%; margin-left: 10%; } }

.hideinmobile { display: block; }

@media (max-width: 600px) { .hideinmobile { display: none !important; } }

.showinmobile { display: none; }

@media (min-width: 600px) { .showinmobile { display: none !important; margin: 0 auto !important; } }

@media (max-width: 600px) { .showinmobile { display: block; margin: 0 auto !important; } }

.galleryImageContainerOrizzontal { height: 10%; min-height: 150px; flex: 1 0 12%; /* explanation below */ margin: 2% 1% 2% 1%; background: transparent; }

@media (max-width: 600px) { .galleryImageContainerOrizzontal { width: 80%; margin-left: 10%; min-width: 200px; } }

.galleryImage { width: 100%; border-radius: 10px; }

.text { color: white; font-size: 20px; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); text-align: center; }

.overlay { position: absolute; top: 0; bottom: 0; left: 0; right: 0; width: 100%; opacity: 0; transition: .2s ease; background-color: #0e0e0e96; border-radius: 10px; }

.displayBlock { display: block; transition: .5s ease; }

.notDisplayBlock { display: none; transition: .5s ease; }

.containerY { position: relative; width: 100%; border-radius: 10px; }

.containerY:hover .overlay { opacity: 1; cursor: pointer; }

/* The Modal (background) */
.modal { transition: 0.5s; /* Hidden by default */ position: fixed; /* Stay in place */ z-index: 1; /* Sit on top */ left: 0; top: 5%; margin: 1% auto; padding: 3%; padding-bottom: 5%; /* Full width */ height: 100%; /* Full height */ overflow: auto; /* Enable scroll if needed */ background-color: black; /* Fallback color */ background-color: rgba(0, 0, 0, 0.76); width: 100%; z-index: 100001; -ms-overflow-style: none; /* IE and Edge */ scrollbar-width: none; transition: transform 1s ease-out; transform: translate(0, -50px); /* Firefox */ /* Could be more or less, depending on screen size */ }

@media (max-width: 600px) { .modal { left: 0; top: 7%; padding: 1%; margin: 0; height: 100%; } }

@media (max-width: 400px) { .modal { padding: 0; margin: 0; } }

/* Modal Content/Box */
.modal-content { margin: 2% auto; /* 15% from the top and centered */ padding: 25px; min-height: 95%; background-image: url(../images/bg.png); background-color: #282626 !important; width: 80%; border-radius: 4px; max-width: 1140px; border-radius: 15px; text-align: center; /* Black w/ opacity */ }

@media (min-width: 2047px) { .modal-content { height: 90%; } }

@media (max-width: 1000px) { .modal-content { max-width: 800px; min-height: 100%; } }

@media (max-width: 600px) { .modal-content { width: 100%; max-width: 100%; margin: 0; min-height: 100%; } }

/* Hide scrollbar for Chrome, Safari and Opera */
.modal::-webkit-scrollbar { display: none; }

/* The Close Button */
.close { color: #d1a157; float: right; font-size: 70px; font-weight: bold; margin-top: -20px; }

@media (max-width: 600px) { .close { font-size: 45px; } }

.close:hover, .close:focus { color: #f8f9fa; text-decoration: none; cursor: pointer; }

.borderd-content { border: 4px solid #0000ff; border-radius: 4px; margin-top: 100px; width: 100%; min-height: 50px; position: relative; }

.borderd-content svg { transform: rotate(180deg); transition: 0.5; }

.borderd-content .title { margin: -20px 0 0 20px; background: #0E0E0E; padding: 3px 0px; padding-left: 10px; padding-right: 20px; display: inline-block; font-weight: bold; position: absolute; }

@media (max-width: 600px) { .borderd-content .title { display: block; } }

.borderd-content .content { padding: 10px; }

/* Hide scrollbar for Chrome, Safari and Opera */
.content::-webkit-scrollbar { display: none; }

/* Hide scrollbar for IE, Edge and Firefox */
.content { text-align: start; -ms-overflow-style: none; /* IE and Edge */ scrollbar-width: none; /* Firefox */ }

#characters { border-color: #7380f3; }

#environments { border-color: #73f3b7; }

#creatures { border-color: #eb9776; }

#artifacts { border-color: #df76ff; }

#specials { border-color: #7380f3; }

#modalImage { height: 540px; max-width: 80%; border-radius: 15px; margin-left: 10%; margin-bottom: 50px; float: left; }

@media (min-width: 2047px) { #modalImage { height: 600px; } }

@media (max-width: 1025px) { #modalImage { height: 550px; max-height: 90%; max-width: 95%; float: none; margin-left: 1%; } }

@media (max-width: 600px) { #modalImage { height: 550px; max-height: 90%; max-width: 95%; float: none; margin-left: 1%; } }

#modalGLB { height: 540px; max-width: 80%; border-radius: 15px; margin-left: 10%; margin-bottom: 50px; float: left; width: 326px; }

@media (min-width: 2047px) { #modalGLB { height: 600px; } }

@media (max-width: 1025px) { #modalGLB { height: 550px; max-height: 90%; max-width: 95%; float: none; margin-left: 1%; } }

@media (max-width: 600px) { #modalGLB { height: 550px; max-height: 90%; max-width: 95%; float: none; margin-left: 1%; } }

#modalRarity { text-align: center; }

#modalStory { width: 50%; margin-top: 25px; margin-bottom: 20px; column-count: 1; }

@media (min-width: 2047px) { #modalStory { width: 48%; margin-right: 4%; } }

@media (max-width: 1025px) { #modalStory { width: 95%; margin-right: 0; } }

@media (max-width: 600px) { #modalStory { width: 95%; margin-right: 0; } }

.bigWidth { width: 90% !important; }

@media (max-width: 600px) { .bigWidth { width: 95% !important; margin: auto; } }

.orizzontalImage { height: unset !important; width: 95% !important; }

@media (max-width: 600px) { .orizzontalImage { width: 97% !important; margin-bottom: 20px !important; } }

.specialCardMiniature { margin-top: 30%; }

@media (max-width: 600px) { .specialCardMiniature { margin-top: 15%; margin-bottom: 15%; } }

.hide { display: none !important; }

.stigmaButtonModal { display: block; background-color: #d1a157; margin-top: 35px; font-size: 25px; color: #0E0E0E; padding: .6rem 2rem; border-radius: .3rem; text-shadow: none; }

.stigmaButtonModal:hover { color: #0E0E0E; background-color: white; }

.homePageImage { margin-top: -350px; z-index: 0; }

@media (max-width: 740px) { .homePageImage { display: none; } }

.homePageImageMobile { display: none; }

@media (max-width: 740px) { .homePageImageMobile { display: block; margin-top: 5%; min-width: 320px; } }

.homePageImageParagraph { column-count: 1; width: 100%; text-align: left; z-index: 1000; text-align: left; margin-left: 0; margin-right: 0; padding-left: 15%; padding-top: 0px; font-size: 30px; text-shadow: 4px 4px 4px rgba(27, 27, 27, 0.938); }

@media (max-width: 740px) { .homePageImageParagraph { padding-left: 0; width: 100%; text-align: center; font-size: 20px; } }

.homePageTitle { width: 100%; column-count: 1; z-index: 10000; font-size: 50px; font-weight: bold; padding-top: 160px; position: relative; }

@media (max-width: 740px) { .homePageTitle { font-size: 30px; padding-top: 30px; } }

.storyListDiv { width: 80%; display: contents; vertical-align: top; text-align: center; margin: 0 5px; }

@media (max-width: 740px) { .storyListDiv { display: block; width: 100%; margin-top: 50px; } }

.storyList { width: 50%; display: flex; justify-content: space-around; align-items: start; margin: auto; margin-top: 1%; }

@media (max-width: 740px) { .storyList { display: block; width: 100%; margin-left: auto; } }

.imageStoryList { display: block; width: 100%; height: 100%; background-size: cover; margin: 15px 0; background-image: url("/assets/images/story_arena.jpg"); }

.imageStoryList:hover { border-style: solid; border-width: 2px; border-color: #fff; }

.linkStoryList { width: 45%; height: 200px; display: block; }

@media (max-width: 740px) { .linkStoryList { width: 100%; margin: 50px 0; } }

#storyParagraph::first-letter { font-size: 200%; }

.test { color: black; font-size: 100px; }

/*# sourceMappingURL=styles.css.map */